<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Library</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="listBook" class="nav-link">Books</a>
      </li>
      <li class="nav-item">
        <a routerLink="addAuthor" class="nav-link">Add Author</a>
      </li>
      <li class="nav-item">
        <a routerLink="addBook" class="nav-link">Add Book</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>